
.basicInfo {
    position: absolute;
    width: 141px;
    height: 52px;
    left: 8rem;
    top: 51px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    
    color: #FFFFFF;
 }
        

#basic_text{
position: absolute;
width: 341px;
height: 41px;
left: 30px;
top: 202px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 41px;
/* identical to box height */

color: #FFFFFF;
    }

.highlight1{

position: absolute;
width: 70px;
height: 20px;
left: 30px;
top: 171px;

background: rgba(241, 245, 16, 0.3);
}

.highlight2{

    position: absolute;
    width: 70px;
    height: 20px;
    left: 30px;
    top: 360px;
    
    background: rgba(241, 245, 16, 0.3);
    }

.highlight3{

    position: absolute;
    width: 70px;
    height: 20px;
    left: 30px;
    top: 560px;
        
    background: rgba(241, 245, 16, 0.3);
    }
    
        
#name {

position :absolute;
text-align: center;
width: 375px;
height: 41px;
left: 1rem;
top: 113px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 41px;
/* identical to box height */

color: #FFFFFF;
    }

#use{
position: absolute;
width: 110px;
height: 41px;
left: 10px;
top: 161px;
font-family: Noto Sans KR;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 41px;
/* identical to box height */

color: #FFFFFF;

     
}
#save {
position: absolute;
width: 110px;
height: 41px;
left: 10px;
top: 350px;
font-family: Noto Sans KR;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 41px;
/* identical to box height */

color: #FFFFFF;


}
#eat{
    position: absolute;
    width: 110px;
    height: 41px;
    left: 10px;
    top: 550px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 41px;

    
    color: #FFFFFF;
    

}

.effect_text{
position: absolute;
width: 380px;
height: 41px;
left: 5px;
top: 207px;
font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 41px;
color: #FFFFFF;

}

#textbox1{

position: absolute;
width: 390px;
height: 110px;
left: 0px;
top: 202px;
    
background: #1F2933;
}

#textbox2{

position: absolute;
width: 390px;
height: 140px;
left: 0px;
top: 395px;
        
background: #1F2933;
    }

#textbox3{

position: absolute;
width: 390px;
height: 180px;
left: 0px;
top: 595px;                
background: #1F2933;
            }
    
.save_text{
position : absolute;
width: 380px;
height:41px;
left: 5px;
top: 400px;
font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 41px;
color: #FFFFFF;
}

.eat_text{
position : absolute;
width: 380px;
height:41px;
left: 5px;
top:600px;
margin-bottom: 20px;
font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 41px;
color: #FFFFFF;
}

.bartext10 {
    position : absolute;
    text-align: center;
    width: 110px;
    height: 41px;
    top: 4px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 41px;
    /* identical to box height */
        
    color: #FFFFFF;
        }



    