.wrapper {
  overflow-x: hidden;
}

.caution_text {
  position: absolute;
  width: 95%;
  height: 41px;
  left: 10px;
  top: 202px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 41px;
  color: #ffffff;
}
.textbox4 {
  position: absolute;
  width: 100%;
  height: 730px;
  left: 0px;
  top: 202px;

  background: #1f2933;
}
.newbar {
  position: absolute;

  width: 100%;
  height: 50px;
  left: 0px;
  top: 0px;

  background: #1f2933;
  border: 0.5px solid #e5e5e5;
  box-sizing: border-box;
}

.bartext10 {
  position: absolute;
  text-align: center;
  width: 110px;
  height: 41px;
  top: 4px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 41px;
  /* identical to box height */

  color: #ffffff;
}
